{% extends "main.html" %}


{% block content %}
<div class="container">
    <nav class="navbar navbar-light mt-2">
        <form class="container-fluid justify-content-start">
            <button type="button" class="btn btn-outline-success me-2" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                create new task
            </button>
            <a type="button" class="btn btn-outline-danger" href="{{ url_for('task.delete_all_done') }}">
                delete all which is done
            </a>
        </form>
    </nav>


    <br>
    <!-- Button trigger modal -->
    {% for item in user_tasks %}
    {% if not item.done %}
    <form method="POST">
        {{ form.csrf_token }}
        <div class="container col-md-4 border rounded-1 mb-3">
            <div class="mb-3 mt-3">
                <p>{{ item.task }}</p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ url_for('task.delete', task_id=item.id) }}" type="submit"
                    class="btn btn-outline-danger mb-2 mt-1 btn-sm">delete</a>

                <a href="{{ url_for('task.edit', task_id=item.id) }}" type="submit"
                    class="btn btn-outline-primary mb-2 mt-1 btn-sm" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">edit</a>

                <a href="{{ url_for('task.change_done_true', task_id=item.id) }}" type="submit"
                    class="btn btn-outline-success btn-sm mb-2 mt-1">done</a>
            </div>
        </div>
    </form>
    {% endif %}
    {% endfor %}

    <div class="col-md-4 offset-md-4 accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    done
                </button>
            </h2>
            <div id="flush-collapseOne" class="row accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% for item in user_tasks %}
                    {% if item.done %}
                    <form class="row" method="POST">
                        {{ form.csrf_token }}
                        <div class="border rounded-1 mb-3">
                            <div class="mb-1 mt-1">
                                <p>{{ item.task }}</p>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                                <a href="{{ url_for('task.delete', task_id=item.id) }}" type="submit"
                                    class="btn btn-outline-danger mb-2 mt-1 btn-sm">delete</a>
                                {% if item.done %}
                                <a href="{{ url_for('task.change_done_false', task_id=item.id) }}" type="submit"
                                    class="btn btn-outline-success btn-sm mb-2 mt-1">undo done</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ model_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <form method="POST">
                {{ form.csrf_token }}
                {{ form.user_task(class="form-control", placeholder="wtite your text here") }}

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.save(class="btn btn-primary", placeholder="save") }}
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}